// Max Width
$max-width-1200: 1200px;
// Width and height
$social-35: 35px;
$banner-height: 100%;
// Font Sizes
$base: 1rem;
$navLink: 1.6rem;
$banner-heading: 5rem;
$banner-heading-sm: 3rem;
$banner-intro: 2rem;
$banner-intro-sm: 1.5rem;
$page-heading: 6rem;
$page-heading-sm: 3.5rem;
$page-sub-heading: 2.2rem;
$page-sub-heading-2: 1.4rem;
$page-sub-heading-3: 1.6rem;
$project-heading: 1.9rem;
$project-section-heading: 2rem;
$project-li: 1.5rem;
$body-copy: 1.125rem;
$body-copy-16: 1rem;
$baseline: 1.250rem;
$filter: 1.3rem;
// Transition
$ease-in-out: .2s ease-in-out;
// Display
$none: none;
$flex:flex;
// Breakpoints
$tablet: 62em; // 992px
$mobile: 48em; // 768px
$mobile-sm: 31.25em; // 500px
// Font Weights
$bold: 700;
$semi-bold: 600;
$medium: 500;
// Colours
$nav-bkgd: #fff;
$primary: #fff;
$navItem: #000;
$navItemHover: #194a50;
$linkHover: #194a50;
$text-color: #000;
$wht: #fff;
$blk: #000;
$projectLink: #238180;
$projectLinkHover: #26a7a4;
$social-hover: #CC5803;
$filters-bkgd: #b4c1c5;
$filter-hover: #c5b9b4;
$skill-border: #000;
$home-intro-bkgd: #b4c1c5;
$darkPrimary: #121212;
$darkTextColour: #fff;
$darkLinkHover: #cae2f8;
$darkSocialHover: #F78764;
$daarkSectionBkgd: #6B717E;
$darkFilter: #F28482;
$darkFilterHover: #f7b2b1;

// Colour Palette
// CTA and link hover
// #194a50
// social media hover
// #CC5803
// filter bkgd
// #b4c1c5
// filter hover
// #c5b9b4